body{

font-family:'Inter',sans-serif;
margin:0;

background:linear-gradient(135deg,#ff4ecd,#6c63ff,#4ea8ff);

color:white;

}

header{

text-align:center;
padding:80px 20px;

}

.avatar{

width:170px;
height:170px;

border-radius:50%;

object-fit:cover;

border:5px solid white;

box-shadow:0 0 40px rgba(255,255,255,0.9);

margin-bottom:20px;

}

.subtitle{

margin-top:10px;

}

.buttons{

margin-top:20px;

}

.buttons a{

text-decoration:none;
color:white;

background:rgba(0,0,0,0.25);

padding:12px 22px;
margin:10px;

border-radius:14px;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

section{

padding:80px 10%;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:25px;

}

.card{

background:rgba(20,20,30,0.6);

padding:25px;

border-radius:20px;

box-shadow:
0 0 40px rgba(255,255,255,0.4),
0 10px 30px rgba(0,0,0,0.4);

backdrop-filter:blur(10px);

transition:0.3s;

}

.card:hover{

transform:translateY(-6px);

box-shadow:
0 0 60px rgba(255,255,255,0.9),
0 15px 35px rgba(0,0,0,0.5);

}

a{

color:white;
text-decoration:none;

}

footer{

text-align:center;
padding:30px;

}
.fade{

opacity:0;
transform:translateY(40px);
transition:all 1s ease;

}

.show{

opacity:1;
transform:translateY(0);

}